doctype html
html(lang=htmlWebpackPlugin.options.lang)
block head
  title=htmlWebpackPlugin.options.title
  description=htmlWebpackPlugin.options.description
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='description' content='Сайт об HTML и создании сайтов')
block body
  h1=htmlWebpackPlugin.options.title
  h1=htmlWebpackPlugin.options.lang
  h1=htmlWebpackPlugin.options.description